@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './print.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
}

.app-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 100%;
  border-radius: 4px;
}

// Element UI 表格样式调整
el-table {
  background-color: transparent;
  .el-table__header-wrapper, .el-table__body-wrapper {
    background-color: transparent;
  }
  .el-table__header-wrapper th {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
  .el-table__body-wrapper td {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  .el-table__body tr {
    background-color: transparent;
  }
  .el-pagination {
    background-color: transparent;
    .btn-prev, .btn-next, .el-pager li {
      background-color: rgba(255, 255, 255, 0.9) !important;
    }
    .el-input__inner {
      background-color: rgba(255, 255, 255, 0.9) !important;
    }
  }
}
